@media (max-width: 530px) {
    .principal {
        width: 380px;       
    }

    .botao {
        right: 150px;
    }

    .dado {
        right: 174px;
    }

    .linha {
        display: none;
    }

    .linha2 {
        display: block;
        padding-top: 30px;
    }
}

@media (max-width: 395px) {
    .principal {
        width: 320px;
        height: 400px;      
    }

    .principal p {
        padding: 15px;
    }

    .linha2 {
        padding-top: 15px;
    }

    .botao {
        right: 120px;
    }

    .dado {
        right: 144px;
    }
}
