@media (max-width: 530px) {
    .principal {
        width: 380px;       
    }

    .botao {
        right: 150px;
    }

    .dado {
        right: 24px;
    }

    .linha {
        display: none;
    }

    .linha2 {
        display: block;
        position: absolute;
        top: -100px;
        left: 43px;
    }
}

@media (max-width: 395px) {
    .principal {
        width: 320px;
        height: 500px;      
    }

    .principal p {
        padding: 15px;
    }

    .linha2 {
        left: 13px;
    }

    .botao {
        right: 120px;
    }
}
