@media (max-width: 530px) {
    .principal {
        width: 380px;
        height: 450px;       
    }

    .principal p {
        padding: 15px;
    }

    .botao {
        right: 150px;
    }

    .dado {
        right: 174px;
    }

    .linha {
        display: none;
        
    }
}

@media (max-width: 395px) {
    .principal {
        width: 300px;
        height: 450px;       
    }

    .principal p {
        padding: 15px;
    }

    .botao {
        right: 110px;
    }

    .dado {
        right: 134px;
    }
}
